form {
  width: 50%;
  margin: auto;
}

h2 {
  text-align: center;
  font-family: BrandonGrotesque, sans-serif;
  font-style: light;
  font-size: 90%;
  letter-spacing: 1px;
  color: #ee726d;
}

label {
  font-family: AtlasGroteskbold, sans-serif;
  font-weight: bold;
  color: #404040;
  text-transform: uppercase;
  line-height: 3em;
  font-size: 40%;
  letter-spacing: 0.1em;
  padding-left: 10px;
}

select {
  background-color: #f3f3f3;
}

input,
select {
  padding-bottom: 7px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: solid #d3d6d5;
  width: 100%;
  margin-bottom: 7px;
}

input.placeholder {
  font-family: AtlasGrotesklight, sans-serif;
  font-size: 15%;
  color: #d3d6d5;
  letter-spacing: 0.1em;
}

button {
  background-color: #ec5c57;
  color: white;
  border-radius: 16px;
  border: none;
  padding: 8px 25px;
  text-align: center;
  margin: 7px 2px;
  display: inline-block;
}

.button {
  text-align: right;
}

#submit {
  font-size: 75%;
}
