.container {
  padding: 10px 5px;
}

.row-header {
  text-align: center;
  padding: 5px;
}

.row-body-half {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img {
  width: 50%;
}

.phone-image {
  display: flex;
  width: 100%;
}

.vector-image {
  width: 70;
  position: relative;
}

img.vector-image {
  width: 20%;
  padding-top: 10px;
}

.text-content {
  font-family: sans-serif, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

p {
  font-size: 10px;
}

h2 {
  font-family: sans-serif, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.col-one-fourth {
  text-align: center;
}
