.container {
  margin: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

.col-three-fifths {
  flex-basis: auto;
  margin-right: 50px;
}

.col-two-fifths {
  margin-left: 50px;
}

a {
  color: #a1a1a1;
  margin-left: 40px;
  margin-right: 40px;
}

button.contact-us {
  background-color: #294363;
  color: white;
  border: #294363;
  height: 35px;
  width: 100px;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  bottom: 10px;
}

.blue-logo {
  height: 60px;
  width: 160px;
  margin-left: 50px;
}

.justify-spacebetween {
  justify-content: space-between;
}

.divider-line {
  border-top: 1px solid #eef1f3;
  position: relative;
  top: 15px;
  padding: 20px;
}

.image {
  background-image: url("/css-canvas-medical/images/hero.jpg");
  background-size: cover;
  height: 500px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 50px;
  position: relative;
}

.white-text-header {
  padding-top: 50px;
  color: #fff;
  padding-left: 3rem;
  width: 40%;
  font-size: 35px;
  font-weight: light;
}

.white-text {
  color: #fff;
  padding-left: 3rem;
  width: 45%;
  font-size: 14px;
  top: 170px;
  line-height: 25px;
  font-family:
    Avenir,
    sans-serif;
  src: url("avenir.woff2") format("woff2");
}

.get-started {
  background-color: #294363;
  color: white;
  border: #294363;
  height: 40px;
  width: 150px;
  border-radius: 4px;
  padding: 10px;
  margin-left: 3rem;
  margin-top: 1rem;
  bottom: 100px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 500px;
  background: rgb(122 113 113 / 40.8%);
}

.grey-background {
  background-color: #fafafa;
}

.flex-wrap {
  flex-wrap: wrap;
}

.column-full {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.grey-text {
  color: #6e6e6e;
  font-family:
    Avenir,
    sans-serif;
  src: url("avenir.woff2") format("woff2");
  font-size: 12px;
}

#sub-text {
  width: 33%;
}

.grey-text-header {
  color: #6e6e6e;
  font-family: "Tiempos Headline", sans-serif;
  src: url(src: url("TiemposHeadline-Regular.woff2") format("woff2");
}

.column-half {
  text-align: center;
  font-family:
    Avenir,
    sans-serif;
  src: url("avenir.woff2") format("woff2");
  width: 900px;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

#white-logo {
  padding-top: 100px;
  height: 125px;
  width: 130px;
  position: relative;
  right: 200px;
  bottom: 35px;
}

.w-25 {
  padding-top: 5%;
  width: 25%;
}

.padding-60 {
  padding: 60px;
}

.padding-30 {
  padding: 30px;
}

#bg-grey {
  background-color: rgb(82 83 81);
}

.tiempos-headline {
  font-family:
    Avenir,
    sans-serif;
  src: url("avenir.woff2") format("woff2");
  color: #f9f9f9;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.position-relative {
  position: relative;
  left: 65px;
  bottom: 25px;
}

.small-text {
  font-size: 12px;
  line-height: 10px;
}

.footer-text {
  font-size: 13px;
  font-family:
    Avenir,
    sans-serif;
  src: url("avenir.woff2") format("woff2");
  color: rgb(114 114 114);
  margin-left: 50px;
}

.position-left {
  display: flex;
  padding-right: 10px;
}

.bg-light-grey {
  background-color: rgb(250 250 250);
  padding: 20px;
}
